@model List<ProgramaRoles.Models.ViewMuestra>

@{
    ViewBag.Title = "Editar Roles";
}
<script src="~/Scripts/tbody.hover.action.js"></script>

<h2>Editar Roles</h2>
@using (Html.BeginForm("EditarRoles", "UsuariosSectores", FormMethod.Post))
{

    for (int i = 0; i < Model.Count(); i++)
    {
        <table class="table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th class="container text-center"></th>
                    <th class="col-md-4 text-center">N° ID: @Html.DisplayFor(x => x[i].id)</th>
                    <th class="col-md-4 text-center">Nombre Usuario: @Html.DisplayFor(x => x[i].nombreUsuario)</th>
                    <th class="col-md-4 text-center">Nombre Sector: @Html.DisplayFor(x => x[i].nombreSector)</th>
                </tr>
            </thead>
            <tbody class="redColorHover">
                @Html.HiddenFor(x => x[i].id)

                @for (int j = 0; j < Model[i].nombreRoles.Count(); j++)
                {
                    <tr>
                        <td style="text-align:center">
                            @Html.CheckBoxFor(x => x[i].nombreRoles[j].RolSeleccionado)
                        </td>
                        <td style="padding-left:1%">
                            @Model[i].nombreRoles[j].roles.rol
                        </td>
                        @Html.HiddenFor(x => x[i].nombreRoles[j].roles.rol)
                        <td></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    }

    <br /><br />
    <div class="row">
        <div class="col-xs-4"></div>

        <div class="col-xs-2 col-xs-offset-1">
            <button type="submit" class="btn btn-primary btn-success active btn-block">Grabar</button>
        </div>

        <div class="col-xs-4 col-xs-offset-1"></div>
    </div>

    <div class="text-center">
        <br />
        <a style="text-align:center" class="btn btn-default btn-success" href="~/UsuariosSectores/ObtenerUsuariosSectores" title="Volver Atrás">Atrás</a>
    </div>
}

<script>

    $(document).ready(function () {

        //Oculta una columna solo (td)
        //$('td:nth-child(1)').hide();
        //Oculta columna si tiene (th)
        //$('td:nth-child(5),th:nth-child(5)').hide();
        HoverTable();
        ChkedFila();
    });

</script>